@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@import "partials/colors";

i {
    color: red;
}

button {
    border: none;
    align-self: center;
    margin-bottom: 0.5rem;
    padding: 0.7rem 4rem 0.7rem 4rem;
    border-radius: 50px;
    background-color: orange;
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
    transition: background 1s, color 1s;
}

button:hover {
    background-color: #cccccc;
    color: $button-transition-color;
}

#navbar {
    display: flex;
    flex-direction: column;
    background-color: $black-background;

    img {
        align-self: center;
        width: 5.7rem;
        margin: 1rem 0 0.5rem 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    #navbar-titles {
        display: flex;
        justify-content: space-evenly;
        font-family: 'Quicksand', sans-serif;

        .nav-ref {
            padding: 0.9rem 0.9rem;
            transition: background 1s;
        }
    }

    .nav-ref:hover {
        background: $link-color-final;
    }
}

#homescreen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-image: url("../img/slider2.gif");
    color: white;

    #title {
        align-self: center;
        font-size: 6rem;
        margin-top: 1.8rem;
        margin-bottom: 1.5rem;
        font-family: 'Press Start 2P', cursive;
    }

    #date, #location, #countdown {
        align-self: center;
        font-family: 'Audiowide', cursive;
        margin-bottom: 1.5rem;
    }

    #countdown {
        padding: 0.5rem 1rem 0.5rem 1rem;
        background-color: white;
        color: red;
        border: white 2px dashed;
        border-radius: 10px;
        margin-bottom: 1.5rem;    
    }
}

#about {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    #about-body {
        display: flex;
        margin-top: 3rem;

        img {
            padding: 2rem 5rem 2rem 5rem;
        }

        #about-text {
            display: flex;
            flex-direction: column;
            align-self: center;

            h1 {
                font-size: 5rem;
            }
    
            p {
                margin-top: 1rem;
                margin-right: 1rem;
                font-size: 1.2rem;
                font-family: 'Quicksand', sans-serif;
            }
        }
    }
    
    #rules {
        align-self: flex-end;

        h1 {
            margin-left: 1rem;
            font-size: 5rem;
        }

        li {
            font-size: 1.2rem;
            font-family: 'Quicksand', sans-serif;
        }
    }
}

#challenges {
    display: flex;
    justify-content: space-between;
    background-color: $black-background;

    h1 {
        align-self: center;
        font-family: 'Audiowide', cursive;
        font-size: 5rem;
        color: white;
    }

    #challenge-img {
        display: flex;
        margin-top: 0.5rem;

        .card-body {
            display: flex;
        }
        .card {
            max-width: 34.5rem;
            min-height: 12rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            border: 2px solid #b92e34;
            background-color: orange;
            font-family: 'Quicksand', sans-serif;
            color: white;
            transition: background 1s, color 1s;
        }
        .challenge-card {
            max-width: 15rem;
            height: 15rem;
            border-radius: 50%;
        }
        .card-title {
            align-self: center;
            margin-left: 1rem;
            font-size: 2rem;
            word-wrap: break-word;
        }

        .card:hover {
            background: #cccccc;
            color: $button-transition-color;
            cursor: pointer;
        }
    }
}

#timeline, #contact {
    display: flex;
    justify-content: space-around;
    background-color: #afafaf;

    h1 {
        align-self: center;
        font-family: 'Audiowide', cursive;
        font-size: 5rem;
    }

    .time-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        padding: 1rem 1rem;
        background-color: #E0115F;
        border: 2px orange solid;
        font-family: 'Quicksand', sans-serif;
        color: white;
    }

}

#contact {
    background-color: $black-background;
    color: white;

    #team-members, #social {
        align-self: center;
        font-size: 1.5rem;
        span {
            color: #1b03a3;
            font-family: 'Quicksand', sans-serif;
        }
    }

    #location {
        margin: 1rem 1rem;
    }

    #map {
        width: 28rem;
        height: 28rem;
        border: 0;
    }
}

#scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 0px;
    background-color: $black-background;
    display: none;
    
    i{
        font-size: 2rem;
        color: white;
    }
}

@media screen and (max-width: 665px) {

    #homescreen {
        justify-content: flex-start;
        padding-top: 1rem;
        padding-bottom: 1rem;

        #title {
            font-size: 2.25rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-left: 0.5rem;
        }

        #date, #location, #countdown {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        #countdown {
            padding: 0.5rem 0.25rem 0.5rem 0.25rem;
            h1 {
                font-size: 1rem;
            }
        }

        #register {
            padding: 0.35rem 2rem 0.35rem 2rem;
            font-size: 1rem;
        }
    }

    #navbar {
        flex-direction: row;

        img {
            display: block;
            width: 4rem;
        }

        #navbar-titles {
            flex-direction: row;
            justify-content: center;
            align-self: center;

            .nav-ref {
                padding: 0.25rem 0.25rem;

                h4 {
                    font-size: 0.80rem;
                }
            }
        }
    }

    #about {
        #about-body {
            margin-top: 0;
    
            img {
                display: none;
            }
    
            #about-text {
                h1 {
                    font-size: 4rem;
                }
    
                p {
                    margin-top: 0.5rem;
                    margin-right: 0.5rem;
                    font-size: 0.8rem;
                }
            }
        }
        #rules {
            align-self: flex-start;
            h1 {
                font-size: 4rem;
            }
            li {
                font-size: 0.8rem;
            }
        }
    }

    #challenges, #timeline, #contact {
        flex-direction: column;

        h1 {
            font-size: 2.5rem;
        }

        #challenge-img {
            margin-left: 1.75rem;

            .card {
                min-height: 3.5rem;
            }
            .card-body {
                display: flex;
                flex-direction: column;
                padding: 0 0;

                p {
                    font-size: 0.9rem;
                }
            }
            .challenge-card {
                display: none;
            }
            .card-title {
                margin-left: 0;
                font-size: 1.5rem;
            }
        }
    }
    
    #timeline {
        h1 {
            font-size: 2.25rem;
        }

        #day-toggle {
            padding: 0.35rem 2rem 0.35rem 2rem;
            font-size: 1.25rem;   
        }

        .time-card {
            margin-bottom: 0.5rem;
            padding: 0.5rem 0.5rem;
            
            h3 {
                font-size: 1.25rem;
            }
        }
    }

    #contact {
        flex-direction: column;

        #team-members {
            font-size: 1.25rem;
        }

        #social {
            display: flex;
            a {
                margin-right: 1rem;
            }
        }

        #map {
            width: 20rem;
            height: 20rem;
            margin-left: 1.3rem;
        }
    }
}

@media screen and (max-width: 1080px) {
    #about-body {
        flex-direction: column;

        img {
            padding: 0 0;
            align-self: center;
            max-width: 50%;
            height: auto;
        }
    }

    #challenges {
        flex-direction: column;

        #challenge-img {
            .card-body {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 1680px) {
    #challenges {
        flex-direction: column;
    }
}