@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
i {
  color: red;
}

button {
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0.5rem;
  padding: 0.7rem 4rem 0.7rem 4rem;
  border-radius: 50px;
  background-color: orange;
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  -webkit-transition: background 1s, color 1s;
  transition: background 1s, color 1s;
}

button:hover {
  background-color: #cccccc;
  color: #0099ff;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1a1a1a;
}

#navbar img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 5.7rem;
  margin: 1rem 0 0.5rem 0;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#navbar #navbar-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: 'Quicksand', sans-serif;
}

#navbar #navbar-titles .nav-ref {
  padding: 0.9rem 0.9rem;
  -webkit-transition: background 1s;
  transition: background 1s;
}

#navbar .nav-ref:hover {
  background: #000099;
}

#homescreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: url("../img/slider2.gif");
  color: white;
}

#homescreen #title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 6rem;
  margin-top: 1.8rem;
  margin-bottom: 1.5rem;
  font-family: 'Press Start 2P', cursive;
}

#homescreen #date, #homescreen #location, #homescreen #countdown {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Audiowide', cursive;
  margin-bottom: 1.5rem;
}

#homescreen #countdown {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: white;
  color: red;
  border: white 2px dashed;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

#about #about-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

#about #about-body img {
  padding: 2rem 5rem 2rem 5rem;
}

#about #about-body #about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

#about #about-body #about-text h1 {
  font-size: 5rem;
}

#about #about-body #about-text p {
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
}

#about #rules {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#about #rules h1 {
  margin-left: 1rem;
  font-size: 5rem;
}

#about #rules li {
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
}

#challenges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1a1a1a;
}

#challenges h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Audiowide', cursive;
  font-size: 5rem;
  color: white;
}

#challenges #challenge-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
}

#challenges #challenge-img .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#challenges #challenge-img .card {
  max-width: 34.5rem;
  min-height: 12rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid #b92e34;
  background-color: orange;
  font-family: 'Quicksand', sans-serif;
  color: white;
  -webkit-transition: background 1s, color 1s;
  transition: background 1s, color 1s;
}

#challenges #challenge-img .challenge-card {
  max-width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

#challenges #challenge-img .card-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 1rem;
  font-size: 2rem;
  word-wrap: break-word;
}

#challenges #challenge-img .card:hover {
  background: #cccccc;
  color: #0099ff;
  cursor: pointer;
}

#timeline, #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #afafaf;
}

#timeline h1, #contact h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Audiowide', cursive;
  font-size: 5rem;
}

#timeline .time-card, #contact .time-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  background-color: #E0115F;
  border: 2px orange solid;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

#contact {
  background-color: #1a1a1a;
  color: white;
}

#contact #team-members, #contact #social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
}

#contact #team-members span, #contact #social span {
  color: #1b03a3;
  font-family: 'Quicksand', sans-serif;
}

#contact #location {
  margin: 1rem 1rem;
}

#contact #map {
  width: 28rem;
  height: 28rem;
  border: 0;
}

#scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 0px;
  background-color: #1a1a1a;
  display: none;
}

#scroll-btn i {
  font-size: 2rem;
  color: white;
}

@media screen and (max-width: 665px) {
  #homescreen {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #homescreen #title {
    font-size: 2.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
  #homescreen #date, #homescreen #location, #homescreen #countdown {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  #homescreen #countdown {
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  }
  #homescreen #countdown h1 {
    font-size: 1rem;
  }
  #homescreen #register {
    padding: 0.35rem 2rem 0.35rem 2rem;
    font-size: 1rem;
  }
  #navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #navbar img {
    display: block;
    width: 4rem;
  }
  #navbar #navbar-titles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #navbar #navbar-titles .nav-ref {
    padding: 0.25rem 0.25rem;
  }
  #navbar #navbar-titles .nav-ref h4 {
    font-size: 0.80rem;
  }
  #about #about-body {
    margin-top: 0;
  }
  #about #about-body img {
    display: none;
  }
  #about #about-body #about-text h1 {
    font-size: 4rem;
  }
  #about #about-body #about-text p {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }
  #about #rules {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #about #rules h1 {
    font-size: 4rem;
  }
  #about #rules li {
    font-size: 0.8rem;
  }
  #challenges, #timeline, #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #challenges h1, #timeline h1, #contact h1 {
    font-size: 2.5rem;
  }
  #challenges #challenge-img, #timeline #challenge-img, #contact #challenge-img {
    margin-left: 1.75rem;
  }
  #challenges #challenge-img .card, #timeline #challenge-img .card, #contact #challenge-img .card {
    min-height: 3.5rem;
  }
  #challenges #challenge-img .card-body, #timeline #challenge-img .card-body, #contact #challenge-img .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0;
  }
  #challenges #challenge-img .card-body p, #timeline #challenge-img .card-body p, #contact #challenge-img .card-body p {
    font-size: 0.9rem;
  }
  #challenges #challenge-img .challenge-card, #timeline #challenge-img .challenge-card, #contact #challenge-img .challenge-card {
    display: none;
  }
  #challenges #challenge-img .card-title, #timeline #challenge-img .card-title, #contact #challenge-img .card-title {
    margin-left: 0;
    font-size: 1.5rem;
  }
  #timeline h1 {
    font-size: 2.25rem;
  }
  #timeline #day-toggle {
    padding: 0.35rem 2rem 0.35rem 2rem;
    font-size: 1.25rem;
  }
  #timeline .time-card {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem;
  }
  #timeline .time-card h3 {
    font-size: 1.25rem;
  }
  #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact #team-members {
    font-size: 1.25rem;
  }
  #contact #social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #contact #social a {
    margin-right: 1rem;
  }
  #contact #map {
    width: 20rem;
    height: 20rem;
    margin-left: 1.3rem;
  }
}

@media screen and (max-width: 1080px) {
  #about-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-body img {
    padding: 0 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 50%;
    height: auto;
  }
  #challenges {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #challenges #challenge-img .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1680px) {
  #challenges {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */